
*, *:before, *:after {
    box-sizing: border-box;
}

html, body { margin: 0; padding: 0;}

body {
  background: #282828;
  color: #f9f9f9;
}


.image {
  background-size: cover;
  background-position: center;
}

/*.image.small { flex-grow: 0.2 }
.image.mid { flex-grow: 0.5 }
.image.big { flex-grow: 1 }*/

.scene {
  /*display: flex;*/
}
